<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SISTEMA_DE_MATRICULA_V1.Properties.Settings.matriculaConnectionString"
            connectionString="Data Source=DESKTOP-J3LLPBF\EXPRESS2014;Initial Catalog=matricula;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>